<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Today is <%- time %> and the current logged in user is <%- user %></p>

    
    <li><a href="/">Home</a></li>
        
        <li><a href="/carmodel">Car Model Sales</a></li>
      </ul></p>

  </body>
</html>
